<div>
    <p>Id: {{selectedTicket.id}}</p>

    <p>Title: {{selectedTicket.title}}</p>


    <p>Priority: {{selectedTicket.priority.name}}</p>

    <p>Status: {{selectedTicket.status.name}}</p>

    <p>Active: {{selectedTicket.active}}</p>

    <p>Submitted On: {{selectedTicket.submittedOn}}</p>

    <p>Last Action: {{selectedTicket.lastAction}}</p>

    <p>Details: <span ng-bind-html="selectedTicket.details"></span></p>

</div>