<!--<input type="text" ng-model="search.title" ng-change="onSearchKeyChanged()"/>-->

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">All</li>
        <li>Filter</li>
        <div>
            <ul>
                <li>
                    By Title:
                    <input type="text" ng-model="search.title"/>
                </li>
                <li>By Status
                    <div>
                        <select name="status" id="status_filter" ng-model="search.status.order">
                            <option value="">Select</option>
                            <option value="1">Open</option>
                            <option value="2">In Progress</option>
                            <option value="4">FeedBack</option>
                            <option value="8">Cancel</option>
                            <option value="10">Closed</option>
                        </select>
                    </div>
                </li>
                <li>By Priority
                    <div>
                        <select name="priority" id="priority_filter" ng-model="search.priority.level">
                            <option value="">Select</option>
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                            <option value="10">Urgent</option>
                        </select>
                    </div>
                </li>
                <li>By Active
                    <div>
                        <select name="active" id="search.active">
                            <option value="">Select</option>
                            <option value="true">Active</option>
                            <option value="false">Non Active</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th ng-click="changeOrder('title')">Title
                <span ng-show="orderCol=='title'">&darr;</span>
                <span ng-show="orderCol=='-title'">&uarr;</span>
            </th>
            <th ng-click="changeOrder('status.name')">Status
                <span ng-show="orderCol=='status.name'">&darr;</span>
                <span ng-show="orderCol=='-status.name'">&uarr;</span>
            </th>
            <th ng-click="changeOrder('priority.name')">Priority
                <span ng-show="orderCol=='priority.name'">&darr;</span>
                <span ng-show="orderCol=='-priority.name'">&uarr;</span>
            </th>
        </tr>
        </thead>
        <tbody ng-repeat="ticket in filteredTickets = (tickets | filter:search | orderBy:orderCol) | page:currentPage:maxItemsPerPage">
        <tr ng-click="showTicketDetail(ticket)">
            <td>{{ticket.id}}</td>
            <td>{{ticket.title}}</td>
            <td>{{ticket.status.name}}</td>
            <td>{{ticket.priority.name}}</td>
        </tr>
        </tbody>
    </table>

    <p ng-show="filteredTickets.length<=0"><b>No Tickets</b></p>


    <div class="ticket-pagination">
        <pagination ng-show="filteredTickets.length > maxItemsPerPage"
                    total-items="filteredTickets.length"
                    class="pagination-sm"
                    ng-model="currentPage"
                    ng-change="pageChanged()" max-size="maxItemsPerPage"></pagination>
    </div>
</div>
