<form class="form-signin" role="form" ng-submit="onLoginSubmit()" action="#tickets" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Employee No." ng-model="credentails.username" required=""
           autofocus="">
    <input type="password" class="form-control" placeholder="Password" ng-model="credentails.password" required="">

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>