<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <h1 class="app-name">My App</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="list-group" toggle="off" bubble target="mainSidebar">
                <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
                <!-- ... -->
            </div>

        </div>
    </div>
</div>
<div class="app">
    <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>Test Options</span>
    </div>

</div>